body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.sortable-table {
  width: 90%;
  background: rgb(245, 245, 245);
  margin: 0 auto;
}
.project-top {
  display: flex;
  border-bottom: 1px solid rgba(255, 64, 64, 0.603);
  .project-top-text:nth-child(1) {
    flex-basis: 10%;
  }
  .project-top-text:nth-child(2) {
    flex-basis: 20%;
  }
  .project-top-text:nth-child(3) {
    flex-basis: 40%;
  }
  .project-top-text:nth-child(4) {
    flex-basis: 15%;
  }
  .project-top-text:nth-child(5) {
    flex-basis: 15%;
  }
}
.expandable {
  display: block;
  background-color: rgba(53, 255, 35, 0.363);
  color: #444;
  cursor: pointer;
  border: none;
  outline: none;
}
.expanded {
  background-color: #ccc;
  display: none;
  overflow: hidden;
  .project-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -4px;
    .text {
      flex-basis: 55%;
      h1,
      .summary,
      .expanded-award {
        padding: 0 20px 0 15px;
      }
      .summary {
        background-color: rgba(255, 196, 35, 0.568);
      }
      .expanded-award {
        background-color: rgba(20, 104, 214, 0.616);
        ul {
          padding: 0;
        }
        li {
          list-style-type: none;
        }
      }
    }
    .slider {
      flex-basis: 45%;
      img {
        width: 100%;
      }
    }
  }
}
// .active {
//   max-height: 100%;
//   background-color: #ccc;
//   display: block;
// }
.project-top-text {
  text-transform: capitalize;
  padding: 10px 0 10px 0;
}

.project-row {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  padding: 10px 0 9px 0;
  .project-col:nth-child(1) {
    flex-basis: 10%;
  }
  .project-col:nth-child(2) {
    flex-basis: 20%;
  }
  .project-col:nth-child(3) {
    flex-basis: 40%;
  }
  .project-col:nth-child(4) {
    flex-basis: 15%;
  }
  .project-col:nth-child(5) {
    flex-basis: 15%;
  }
}
.mobile-table {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-table {
    display: block;
  }
  .expanded {
    padding-left: 0px;
    background-color: greenyellow;
    .project-details {
      margin-bottom: 0px;
      .text {
        flex-basis: 100%;
        order: 2;
      }
      .slider {
        order: 1;
        flex-basis: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .sortable-table {
    display: none;
  }
  .project-top {
    display: block;
    text-align: center;
    border-bottom: 0;
  }
  .year-group {
    border-bottom: 1px solid royalblue;
  }
  .project-row {
    padding: 0;
    border-bottom: 0;
    display: block;
    div {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid salmon;
    }
    div:nth-child(odd) {
      background-color: whitesmoke;
    }
    .m-modal {
      background-color: cornflowerblue;
    }
    p {
      width: 100%;
      margin: 0 auto;
    }
  }
}
